* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    float: left;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.inrsec {
    width: 100%;
    border-bottom: 1px solid #666;
    float: left;
}

.login {
    width: 50%;
    float: left;
    padding-bottom: 5px;
}

.login a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
    font-family: roboto;
}

.login ul {
    list-style: none;
}

.login ul li {
    display: inline;
}

.login ul li a {
    display: inline-block;
    padding-right: 20px;
}

.login a:hover {
    color: #ffa200;
}

.mail {
    width: 50%;
    float: left;
    text-align: right;
}

.mail a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
    font-family: roboto;
}

.mail ul {
    list-style: none;
}

.mail ul li {
    display: inline;
    color: #666;
}

.mail ul li a {
    padding-left: 20px;
    display: inline-block;
}

.mail ul li a:hover {
    text-decoration: underline;
}

.logosec {
    width: 100%;
    padding-top: 30px;
    float: left;
}

.inrlogo {
    width: 100%;
    float: left;
}

.logo {
    width: 30%;
    float: left;
}

.nav {
    width: 70%;
    float: left;
    text-align: right;
    font-family: open sans;
    padding-top: 10px;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline;
}

.nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    padding: 7px 20px;
    display: inline-block;
}

.nav ul li a:hover {
    border-bottom: 2px solid #ffa200;
}


/*CSS for Main Body*/

.main {
    margin: 1% 0;
}

.main h3 {
    color: purple;
}

.houses {
    width: 50.5%;
    border: 1px solid grey;
    margin: 1%;
    float: left;
    text-align: center;
}

.houses:hover {
    box-shadow: 0 0 3px 3px silver;
}

.houses img {
    width: 100%;
}

.houses .house-title {
    font-weight: bold;
    color: darkblue;
    padding: 1%;
}

.house-price {
    font-size: 120%;
    color: goldenrod;
    padding: 1%;
}

.house-added,
.house-location {
    font-weight: lighter;
    font-size: 90%;
    color: darkblue;
    padding: 1%;
}

.houses .btn-book {
    padding: 3%;
    margin: 3%;
    background-color: purple;
    color: white;
    border: none;
}

.houses .btn-book:hover {
    background-color: darkblue;
}

.book-house img {
    width: 50%;
    float: left;
    margin: 2% 2% 2% 0;
}

.book-house h3 {
    text-align: center;
    margin-bottom: 5%;
    text-decoration: underline;
}

.book-house p {
    text-align: justify;
    padding: 1%;
    line-height: 30px;
    color: #394d6d;
}

.main .booking-details {
    width: 50%;
    margin: 0 auto;
    padding: 2%;
    margin: 2% auto;
}

.main .booking-details h3 {
    margin-bottom: 2%;
    text-align: center;
    margin-top: auto;
}

.main .booking-details .name {
    width: 20%;
    float: left;
}

.main .booking-details input[type='text'],
.main .booking-details input[type='email'],
.main .booking-details input[type='tel'],
.main .booking-details input[type='password'],
.main .booking-details textarea {
    padding: 1%;
    margin: 0.5%;
    width: 75%;
}

.main .booking-details input[type='submit'] {
    padding: 2%;
    background-color: darkblue;
    color: white;
    border: none;
    margin-left: 21%;
}

.main .booking-details input[type='submit']:hover {
    box-shadow: 0 0 3px 2px grey;
}

.main .booking-details input[type='reset']:hover {
    box-shadow: 0 0 3px 2px grey;
}

.main .booking-details input[type='reset'] {
    padding: 2%;
    background-color: darkred;
    color: white;
    border: none;
}


/*CSS for Footer*/

.coptrigt {
    width: 100%;
    float: left;
    padding-top: 100px;
    padding-bottom: 20px;
}

.coptrigt p {
    color: #666;
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}